+ionModal customTemplate=true
    .bar.bar-header.bar-stable
        h2.title Edit Profile
    with currentUser
        .content.has-header.overflow-scroll
            +ionList
                .item.item-divider Display name
                label.item.item-input.item-icon-right
                    i.icon.ion-monitor
                    input#profile-edit-name(type='text' placeholder=username value=profile.name)
                .item.item-help.item-text-wrap: .item-content
                    | This is how you will be identified in games and chats
                    | by default. Players may configure the site to display
                    | your username instead, and some games may identify you
                    | in other ways (such as your character name).
                .item.item-divider Username
                label.item.item-input.item-icon-right
                    i.icon.ion-key
                    input#profile-edit-username(type='text' value=username)
                .item.item-help: .item-content
                    | This is used to log in, and to form
                    | #[a(href="/player/#{username}") your profile URL].
                    | Players may also configure the site to show others'
                    | usernames instead of display names.
                .item.item-divider Email
                .item.item-icon-right
                    i.icon.ion-email
                    =firstEmail
                .item.item-help.item-text-wrap: .item-content
                    | Your email is only used to recover your password.
                    | In the future, we may use it for notifications, but those
                    | will be strictly opt-in.
                    br
                    | At the moment, we don't allow changing your email.
                    | Contact our admins if you need to.
                .item.item-divider Avatar
                .item.item-icon-right
                    i.icon.ion-person
                    img(src=profile.avatarUrl width='100' height='100')
                .item.item-help.item-text-wrap
                    .item-content
                        | To change your avatar, connect a social account, or upload
                        | one to #[a.link-external(href='https://secure.gravatar.com') Gravatar].
                .item.item-divider.item-icon-right
                    i.icon.ion-gear
                    | Options
                .item.item-checkbox
                    label.checkbox
                        input#profile-edit-show-usernames(type='checkbox' checked=profile.showUsernames)
                    | Show usernames
                .item.item-help.item-text-wrap: .item-content
                    | Identify other players by username rather than display name
